executor: slurm

default-resources:
    slurm_partition: "allcpu"
    slurm_account: "cssb"

set-resources:
    AF3_DATA:
        slurm_partition: "allcpu"
        nodes: 1
        runtime: 10000
        cpus_per_task: 16
    AF3_INFERENCE:
        slurm_partition: "topfgpu"
        nodes: 1
        runtime: 10000
        mem_mb: 256000
