use-singularity: true
#singularity-args: >
#  -B /scratch
#  -B /cluster
#  -B /datasets
#  --nv

executor: slurm

default-resources:
    slurm_partition: "vds"

set-resources:
    AF3_DATA_SPEEDY_PIPELINE:
        nodes: 1
        runtime: 10000
        cpus_per_task: 16
        mem_mb: 496000
    AF3_INFERENCE:
        nodes: 1
        runtime: 10000
        mem_mb: 256000
